@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
p {
  font-family: "Jost", sans-serif;
}
h1,
h4,
h3,
h2 {
  font-family: "Marcellus", serif;
}
/* home ----------------------------------------------------*/

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  height: 100vh;
  width: 100%;
  background: url("../images/bg-01.jpg");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.caption {
  width: 40%;
  color: white;
  text-align: center;
  line-height: 33px;
}
.caption h1 {
  margin: 15px 0px;
  font-family: "Marcellus", serif;
}

/* slider ----------------------------------*/

.swiper-container {
  width: 750px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  width: 300px;
}

/* about ----------------------------------*/
#about .caption {
  color: black;
  width: 80%;
  text-align: left;
}
#about .caption h1 {
  font-size: 50px;
}

.collection{
  background: #000 !important;
  color: white !important;
  border-radius: unset;
  border: none;
  outline: none;
  padding: 10px 20px;
  transition: all .6s;
}
.collection:hover{
  background-color: red !important;
  color: white !important;
}
/*testmonial-------------------------------------------------*/
.section-padding {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-borders span {
  height: 5px;
  background: red;
  width: 40px;
  display: inline-block;
  border-radius: 2px;
}

.section-borders span.black-border {
  background: #333;
  width: 30px;
  margin: 0 6px;
}

.client-testimonial-carousel .owl-dots button {
  height: 5px;
  background: red !important;
  width: 20px;
  display: inline-block;
  margin: 5px;
  transition: 0.2s;
  border-radius: 2px;
}

.client-testimonial-carousel button.owl-dot.active {
  background: #000 !important;
  width: 30px;
}

.client-testimonial-carousel .owl-dots {
  text-align: center;
  margin-top: 25px;
}

.single-testimonial-item {
  position: relative;
  box-shadow: 0 0 2px #dadfd3;
  margin: 2px;
  padding: 20px;
  font-style: italic;
  padding-left: 85px;
}

.single-testimonial-item:before {
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 900;
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 20px;
  color: red;
  line-height: 30px;
  margin-top: -15px;
}

.single-testimonial-item:after {
  background: #ddd;
  content: "";
  height: 70%;
  left: 60px;
  position: absolute;
  top: 10%;
  width: 1px;
}

.single-testimonial-item h3 {
  font-size: 20px;
  font-style: normal;
  margin-bottom: 0;
}

.single-testimonial-item h3 span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
}
